a:hover {
  color: black;
}
.banner {
  padding-top: 117px;
  background: #f1f3ff;
  position: relative;
}

.logoBanner img {
  width: 124%;
  z-index: -1;
}

@media (max-width: 777px) {
  .banner {
    padding-top: 32px;
  }
}

@media (max-width: 777px) {
  .logoBanner img {
    width: 100%;
  }
}
